<template>
    <div class="detail">
        <div v-if="rocket.description">
            <h3>
                {{ rocket.name }}
            </h3>
            <h5>
                {{ rocket.description }}
            </h5>
        </div>
        <div v-else>
            <h4>select some rocket to get info</h4>
        </div>
    </div>
</template>

<script setup lang="ts">
import { computed } from 'vue'
import { Rocket } from '../models/rocket.model'

const props = defineProps<{ rocketsStore: { rockets: Rocket[]; selectedRocket: Rocket } }>()

const rocket = computed(() => {
    return props.rocketsStore.selectedRocket
})
</script>

<style scoped>
.detail {
    margin-top: 7px;
    background-color: rgba(0, 128, 0, 0.12);
}
</style>
