<template>
    <div class="list">
        <div v-for="rocket in rockets" :key="rocket.name" class="rocket-item">
            <div @click.prevent="onSelectRocket(rocket.id!)">
                {{ rocket.name }}
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import { computed, onMounted } from 'vue'
import { Rocket } from '../models/rocket.model'

const props = defineProps<{
    loadRockets: () => Promise<void>
    // eslint-disable-next-line no-unused-vars
    loadRocketById: (rocketId: string) => Promise<void>
    rocketsStore: { rockets: Rocket[]; selectedRocket: Rocket }
}>()

onMounted(async () => {
    await props.loadRockets()
})

const onSelectRocket = async (rocketId: string) => {
    await props.loadRocketById(rocketId)
}

const rockets = computed(() => {
    return props.rocketsStore.rockets
})
</script>

<style scoped>
.list {
    margin-top: 7px;
    background-color: rgba(0, 128, 0, 0.24);
}

.rocket-item {
    font-size: 21px;
    padding: 5px;
    cursor: pointer;
    transform: scale(0.9);
    transition: 0.3s all ease-in-out;
    border: 0.3px solid black;
}

.rocket-item:hover {
    transform: scale(1);
}
</style>
