<template>
    <div class="light-green">
        <n-image :preview-disabled="true" width="100" :src="imageSrc" />
    </div>
    <h2>List</h2>
    <ListComponent :rockets-store="rocketsStore" :load-rocket-by-id="loadRocketById" :load-rockets="loadRockets" />
    <h2>Detail</h2>
    <DetailComponent :rockets-store="rocketsStore" :load-rocket-by-id="loadRocketById" :load-rockets="loadRockets" />
</template>
<script setup lang="ts">
import { NImage } from 'naive-ui'
import DetailComponent from '../components/DetailComponent.vue'
import ListComponent from '../components/ListComponent.vue'
import { Rocket } from '../models/rocket.model'

defineProps<{
    imageSrc: string
    loadRockets: () => Promise<void>
    // eslint-disable-next-line no-unused-vars
    loadRocketById: (rocketId: string) => Promise<void>
    rocketsStore: { rockets: Rocket[]; selectedRocket: Rocket }
}>()
</script>
<style scoped>
.light-green,
.green {
    padding: 10px;
    height: 120px;
}
.light-green {
    background-color: rgba(0, 128, 0, 0.12);
}
.green {
    background-color: rgba(0, 128, 0, 0.24);
}
</style>
