<template>
    <n-grid x-gap="12" :cols="3">
        <n-gi>
            <!-- GQL -->
            <ColumnLayout
                :image-src="gql.imageSrc"
                :rockets-store="gql.store"
                :load-rocket-by-id="gql.loadRocketById"
                :load-rockets="gql.loadRockets"
            />
        </n-gi>
        <n-gi>
            <!-- future canvas ? -->
        </n-gi>
        <n-gi>
            <!-- REST -->
            <ColumnLayout
                :image-src="rest.imageSrc"
                :rockets-store="rest.store"
                :load-rocket-by-id="rest.loadRocketById"
                :load-rockets="rest.loadRockets"
            />
        </n-gi>
    </n-grid>
</template>
<script setup lang="ts">
import { NGi, NGrid } from 'naive-ui'
import { reactive } from 'vue'
import gqlRocketService from '../services/gql/rockets.service'
import restRocketService from '../services/rest/rockets.service'
import gqlRocketStore from '../store/gql/rockets.store'
import restRocketStore from '../store/rest/rockets.store'
import ColumnLayout from './ColumnLayout.vue'

const gql = reactive({
    imageSrc: './gql-icon.png',
    store: gqlRocketStore.useRocketsStore(),
    loadRocketById: gqlRocketService.loadRocketById,
    loadRockets: gqlRocketService.loadRockets,
})

const rest = reactive({
    imageSrc: './rest-icon.png',
    store: restRocketStore.useRocketsStore(),
    loadRocketById: restRocketService.loadRocketById,
    loadRockets: restRocketService.loadRockets,
})
</script>
<style scoped></style>
